# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.g.dart

# Android
android/app/google-services.json
android/.gradle/
android/captures/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.xcframework
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/.symlinks/
ios/Pods/
ios/GoogleService-Info.plist

# Supabase secrets
supabase/.env
supabase/functions/.env

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Divers
*.log
coverage/
